<ion-content [fullscreen]="true" id="fundo2">
  <img src="assets/imgProduto/nikeVerde.png" alt="" id="nikeVerde" />

  <img src="assets/menu.png" alt="" id="menu">

  <img src="assets/Ellipse 9.png" alt="" id="elipse9">
  <img src="assets/share.png" alt="" id="share">
  <img src="assets/Ellipse 10.png" alt="" id="elipse10">
  <img src="assets/bag.png" alt="" id="bag">
  

  <img src="assets/tenis1.png" alt="" id="tenis1big">

  <div class="tenis1">
    <img src="assets/tenis1.png" alt="" />
  </div>

  <div class="tenis2">
    <img src="assets/Nike/tenis2.png" alt="" />
  </div>

  <div class="tenis3">
    <img src="assets/tenis3.png" alt="" />
  </div>

  <div class="Kyrie">
    <h1 id="Kyrie">KYRIE INFINITY</h1>
  </div>

  <div class="subtitle">
    <h4 id="subtitle">Calçados para Basquete</h4>
  </div>

  <div class="txt">
    <h3 id="txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae
      porta ante. Suspendisse a massa vitae justo lacinia accumsan.
    </h3>

  </div>
  <div class="preco">
    <h3 id="preco">Preço</h3>
  </div>
  <div class="numero">
    <h1 id="numero">$ 799</h1>
  </div>

<div class="quadrado1"></div>
<div class="quadrado2"></div>
<div class="quadrado3"></div>



</ion-content>
