#nikeVerde {
  width: 87px;
  height: 35px;
  margin-top: 38px;
  margin-left: 171px;
}

#menu {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 34px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
}

#tenis1big {
  position: absolute;
  width: 311px;
  height: 350px;
  top: 250px;
  left: 29px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-19.92deg);
}

#elipse9 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 825px;
  left: 292px;
  gap: 0px;
  opacity: 0px;
}

#elipse10 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 825px;
  left: 363px;
  gap: 0px;
  opacity: 0px;
}

#share {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 836px;
  left: 303px;
  gap: 0px;
  opacity: 0px;
}

#bag {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 836px;
  left: 374px;
  gap: 0px;
  opacity: 0px;
}

.tenis1 {
  position: absolute;
  width: 120px;
  height: 70px;
  top: 120px;
  left: 3px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-19.92deg);
  z-index: 2;
}

.tenis2 {
  position: absolute;
  width: 120px;
  height: 62px;
  top: 120px;
  left: 142px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-19.92deg);
  z-index: 2;
}

.tenis3 {
  position: absolute;
  width: 120px;
  height: 60.04px;
  top: 120px;
  left: 280px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-19.92deg);
  z-index: 2;
}

.Kyrie {
  position: absolute;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  width: 330px;
  height: 38px;
  top: 600px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
}

#Kyrie {
  font-size: 32px;
  color: #144273;
}

.subtitle {
  position: absolute;

  line-height: 34.55px;
  text-align: left;
  width: 368px;
  height: 31px;
  top: 650px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
}

#subtitle {
  font-size: 24px;
  color: #144273;
  font-weight: bold;
}

.txt {
  position: absolute;

  font-weight: 400;
  line-height: 22px;
  text-align: left;
  width: 368px;
  height: 70px;
  top: 690px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
}

#txt {
  font-size: 14px;
  color: #144273;
}

.preco {
  position: relative;
  width: 116px;
  height: 31px;
  top: 675px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
  line-height: 34.55px;
  text-align: left;
}

#preco {
  font-size: 24px;
  color: #144273;
  font-weight: bold;
}

.numero {
  position: relative;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 150px;
  height: 50px;
  top: 665px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
}

#numero {
  font-size: 37px;
  color: #144273;
}

.quadrado1 {
  position: relative;
  width: 116px;
  height: 127px;
  top: -65px;
  left: 15px;
  gap: 0px;
  border-radius: 16px 16px 16px 16px;
  opacity: 0px;
  background-color: #fff05e;
}

.quadrado2 {
  position: relative;
  width: 116px;
  height: 127px;
  top: -190px;
  left: 155px;
  gap: 0px;
  border-radius: 16px 16px 16px 16px;
  opacity: 0px;
  background-color: #e1e0e0;
}

.quadrado3 {
  position: relative;
  width: 116px;
  height: 127px;
  top: -316px;
  left: 295px;
  gap: 0px;
  border-radius: 16px 16px 16px 16px;
  opacity: 0px;
  background-color: #e1e0e0;
}
