// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


#fundo{
    --background: linear-gradient(167.55deg, #11998E -1.54%, #38EF7D 110.94%);
    
    
  }

.elipse{
    background: radial-gradient(circle, rgba(255, 222, 136, 0.85), rgba(255, 222, 136, 0)) ;
}

#fundo2{
    --background: #ffffff;
}