
<ion-content [fullscreen]="true" id="fundo">
  <img src="assets/nike.png" alt="" id="nike" />

  <ion-header collapse="condense">
    <div class="elipse"></div>

    <div class="tenis1">
      <img src="assets/tenis1.png" id="tenis1" />
    </div>

    <div class="summer">
      <h1 id="summer">SUMMER COLLECTIONS</h1>
    </div>

    <div class="sub">
      <h2 id="sub">2022</h2>
    </div>

    <div class="texto">
      <h3 id="texto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae
        porta ante. Suspendisse a massa vitae justo lacinia accumsan.
      </h3>
    </div>

    <div>
      <button><a href="/produtos">GET STARTED</a></button>
    </div>
  </ion-header>
</ion-content>
